/*-------------------------------------------------------------*/
                        /* FONTS */
/*-------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Manrope:wght@400;500&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@700&display=swap');

/*-------------------------------------------------------------*/
                        /* BODY */
/*-------------------------------------------------------------*/

body {
  font-family: 'Poppins', sans-serif;
}

/*-------------------------------------------------------------*/
                        /* HEADER */
/*-------------------------------------------------------------*/

.navbar-brand {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.navbar-nav {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.carousel-caption h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 48px;
}

.carousel-caption p {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.carousel-caption a {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

/*-------------------------------------------------------------*/
                        /*  FOOTER */
/*-------------------------------------------------------------*/

footer {
  background: #0B0D17;
  height: 280px;
  padding: 25px;
  margin-top: 100px;
}

.copyright-message {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #D9DBE1;
}

.get-app {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #D9DBE1;
}